<!-- DON'T SAVE W/ PRETTIER ENABLED -->
<html>
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <h1>Postgres Search</h1>
      <form action="/postgres/" method="POST">
        <div>
          <label for="search">Stocks</label>
          <input type="search" id="search" name="search" required />
        </div>
        <button type="submit">Search</button>
        <p id="error">
          <% if(messages.error) { %> <%= messages.error %> <% } %>
        </p>
      </form>
      <div id="filter">
        <p><strong>Market</strong></p>
        <p class="stockName"><strong>Name</strong></p>
        <p class="stockSymbol"><strong>Symbol</strong></p>
        <p><strong>Cap</strong></p>
      </div>
      <div id="resultContainer">
        <% if (searchByMarket.length > 0) { %>
        <%searchByMarket.forEach(stock=>{%>
        <div class="stockInfo">
          <p><%= stock.stock_market %></p>
          <div class="stockName"><p><%= stock.stock_name %></p></div>
          <div class="stockSymbol"><p><%= stock.stock_symbol %></p></div>
          <p><%= stock.stock_cap %></p>
        </div>
        <% }) %> <% } %> <% if ( searchByName.length > 0) { %> 
        <% searchByName.forEach(stock=>{%>
        <div class="stockInfo">
          <p><%= stock.stock_market %></p>
          <div class="stockName"><p><%= stock.stock_name %></p></div>
          <div class="stockSymbol"><p><%= stock.stock_symbol %></p></div>
          <p><%= stock.stock_cap %></p>
        </div>
        <% }) %> <% } %> <% if ( searchBySymbol.length > 0) { %> 
        <% searchBySymbol.forEach(stock=>{%>
        <div class="stockInfo">
          <p><%= stock.stock_market %></p>
          <div class="stockName"><p><%= stock.stock_name %></p></div>
          <div class="stockSymbol"><p><%= stock.stock_symbol %></p></div>
          <p><%= stock.stock_cap %></p>
        </div>
        <% }) %> <% } %>
      </div>
      <%- include('./partials/footer.ejs') %>
    </main>
  </body>
</html>
